*,
::before,
::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    background-color: #FFF;
    height: 100%;
    line-height: 1;
    font-size: 12px;
    color:#616161;
    font-weight: 500;
    font-family: Rubik;
}

.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"]{
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
}

@media(max-width: 1087px){
    [class*="__container"]{
        max-width: 970px;
    }
}

@media(max-width: 991px){
    [class*="__container"]{
        max-width: 750px;
    }
}

@media(max-width: 772px){
    [class*="__container"]{
        max-width: none;
    }
}

.main{
    flex: 1 1 auto;
}

/* header */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;


}

.header-menu {
    flex: 1 1 auto;
}
.menu {
    padding: 0 40px 0 0;
    display: flex;
    justify-content: flex-end;

}
.menu-list {
    display: flex;
}
.menu-item:not(:last-child) {
    margin: 0 40px 0 0;
}

@media(max-width: 991px){
    .menu-item:not(:last-child) {
        margin: 0 30px 0 0;
    }
}

.menu-link {
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #000000;
}

@media(max-width: 991px){
   .header__container{
        min-height: 80px;
   }
}

.header-button {
    display: flex;
    flex: 0 0 252px;
    justify-content: flex-end;
}

@media(max-width: 992px){
    .header-button{
        flex: 0 0 170px;
    }
}

.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em; 
    color: #FCFDFE;
    width: 144px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 13px 30px;
    background: #EC5863;
    transition: 0.3s ease 0s;
}

.button:hover{
    background-color: #ab353d;
}

.button_blue {
    background: #4285F4;
}
.button_blue:hover{
    background: #0e326d;
}

/* get started */
/* ----------------------------------------------- */
.text-block {
    
}
.text-block-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000000;
}

.text-block-title span{
    color: #EC5863
}

.text-block-title-blue span {
    color: #4285F4;
}

.text-block-title:not(:last-child){
    margin: 0 0 12px 0;
}

.text-block-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    color: #616161;
}

.text-block-text:not(:last-child){
    margin: 0 0 24px 0;
}

/* --------------------------------------------- */
.get-started {
    background-color: #FAFBFD;
}
.get-started__container {
    padding: 150px 0 50px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.get-started__container::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 0px;
    top: 0;
    transform: translate(72%, 0);
    border-radius: 30px 0px 0px 30px;
    background-color: #EC5863;
}

.get-started-content {
    flex: 0 1 48%;
    padding: 0 0 0 20px;
}
.get-started-text-block {
    max-width: 410px;
}

.get-started-video {
    flex: 1 1 100%;
    margin: 60px 0 0 20px;
}
.video-get-started {
    display: inline-flex;
    align-items: center;
}
.video-get-started-icon {
    flex: 0 0 44px;
}
.video-get-started-body {
    padding: 0 0 0 12px;
}
.video-get-started-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 0.08em;
    color: #B0B0B0;
    margin: 0 0 5px 0;
}
.video-get-started-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 0.165em;
    color: #000000;
}
.get-started-image {
    z-index: 2;
    flex: 0 1 52%;
}

.get-started-image img{
   max-width: 100%;
}